<h1>Sign in</h1>
<div class="form-horizontal">
  <%= form_for :user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

  <div class="form-group"> 
    <%= f.label :email, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div> 

  <div class="form-group"> 
    <%= f.label :password, class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div> 

  <div>
    <%= f.submit "Sign in" %>
  </div>
  <% end %>

<p>or</p>
<div>
  <%= link_to image_tag("https://lh3.googleusercontent.com/JOb-1edXXl9_rrXDIOmDwMj_aTPyzysn6-vSAq_VV1AYV_M_2gec7TDRBd_R-qchK8j8=s170"), '/auth/github', class: "github_button" %>
</div>