<% if @rating.errors.any? %>
  <div class="notice alert-warning">
      <p>There were some errors:</p>
      <br>
        <% @rating.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
    </div>
<% end %>
<br>
  <div class="form-horizontal">
  <%= form_for [@rating] do |f| %>

      <div>
          <%= wine_id_field(@rating) %>
          <%= f.hidden_field :user_id %>
      </div>
        

    <div class="form-group">  
      <%= f.label :stars, class: "col-md-4 control-label" %>
       <div class="col-md-4">
        <%= f.select :stars, [[1], [2], [3], [4], [5]], class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Tasting Notes", class: "col-md-4 control-label" %>
      <div class="col-md-4"> 
        <%= f.text_area :taste, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :comments, class: "col-md-4 control-label" %>
      <div class="col-md-4"> 
        <%= f.text_area :comments, class: "form-control" %>
      </div>
    </div>

    <div>
      <%= f.submit %>
    </div>
<% end %>
</div>
