<br>
  <div class="form-horizontal">
  <%= form_for [@rating] do |f| %>
      <%= f.hidden_field :user_id %>

  <% if @rating.wine.nil? %>
    <div class="form-group">
      <%= f.label "Wine", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= f.select :wine_id, options_from_collection_for_select(Wine.all, :id, :name), class: "form-control" %>
      </div>
    </div> 
    <% else %>
      <% f.hidden_field :wine_id %>
    <% end %>

    <div class="form-group">  
      <%= f.label :stars, class: "col-md-4 control-label" %>
       <div class="col-md-4">
        <%= f.select :stars, [[1], [2], [3], [4], [5]], class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Tastinng Notes", class: "col-md-4 control-label" %>
      <div class="col-md-4"> 
        <%= f.text_area :taste, class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :comments, class: "col-md-4 control-label" %>
      <div class="col-md-4"> 
        <%= f.text_area :comments, class: "form-control" %>
      </div>
    </div>


    <div>
      <%= f.submit "Update Rating"%>
    </div>
<% end %>
</div>
