<%= link_to "Back to wine details", wine_path(@wine) %>
<h1><%= wine_name(@wine) %></h1>
<ul class="list-group">
  <% @wine.ratings.each do |rating| %>
    <li class="list-group-item"><%=  rating.user.name %> - <%= show_stars(rating.stars) %>
     - <%= link_to "Read the review", wine_rating_path(@wine, rating) %></li>
    <% end %>
    </ul>
