<% if @wine.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @wine do |w| %>
  <%= w.label "Label: " %>
  <%= w.text_field :label %><br>
  <%= w.label "Category: " %>
  <%= w.select :category, [["Red"], ["Red Blend"], ["White"], ["White Blend"], ["Sparkling"], ["Rosè"]] %><br>
  <%= w.label "Grape: " %>
  <%= w.text_field :grape %><br>
  <%= w.label "Year: " %>
  <%= w.text_field :year %><br>
  <%= w.label "Region:" %>
  <%= w.select :region, options_from_collection_for_select(@wine_regions, :region, :region, include_nil: false, include_hidden: false) %>
  <%= w.text_field :region %><br><br>
  <%= w.submit %>
<% end %>
