<h1>Wines!</h1>
  <% @wines.each do |wine| %>
  <h3><%= link_to wine_name(wine), wine_path(wine) %> </h3>
  <% end %>
<div>
<h3><b> <%= link_to "Add a new wine", new_wine_path, class: "button" %></b> </h3>
</div>
<div class="sort-form">
  <%= form_tag '/filter' do %>
      <label>Sort by:</label>
      <%= select_tag "filter", "<option>Popularity</option>".html_safe, include_blank: true %>
      <%= submit_tag "Submit" %>
    <% end %>

</div>
