<%= link_to "Back to wines", wines_path %>
<h1><%= wine_name(@wine) %></h1>
<br>
<div class="list-group"> 
  <p class="list-group-item"><b>Label:</b> <%= @wine.label %></p>
  <p class="list-group-item"><b>Type:</b> <%= @wine.category %></p>
  <p class="list-group-item"><b>Grape:</b> <%= @wine.grape %></p>
  <p class="list-group-item"><b>Year:</b> <%= @wine.year %></p>
  <% if @wine.region %>
  <p class="list-group-item"><b>Region:</b> <%= @wine.region %></p>
  <% end %>
  <p class="list-group-item"><b>Average Rating:</b> <%= show_stars(@wine.average_rating) %>  </p><br>
</div>
<div id="new-rating-for-<%=@wine.id%>">
<h3>Ratings: <h3>
  <p id="new-stars"></p>
  <p id="new-comments"></p>
  <p id="new-tasting"></p>
<div>
<br>
<h2>Add a rating</h2>
<%= render partial: 'ratings/form' %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      debugger
      let values = $(this).serialize();
      let postRating = $.post(`/ratings`, values)

      postRating.done(function(response) {
        $("#new-stars").text("Stars: " + response["stars"])
        $("#new-comments").text(response["comments"])
        $("#new-tasting").text(response["taste"])
      });
    });
  });
</script>