<h1><%= wine_name(@wine) %></h1>
<p>Label: <%= @wine.label %></p>
<p>Type: <%= @wine.category %></p>
<p>Grape: <%= @wine.grape %></p>
<p>Year: <%= @wine.year %></p>
<% if @wine.region %>
<p>Region: <%= @wine.region %></p>
<% end %>
<p>Average Rating: <%= show_stars(@wine.average_rating) %>  </p><br>
<h2><%= link_to "Read reviews", wine_ratings_path(@wine) %></h2>
<%= link_to "Add a review", edit_wine_path %>
