<h1><%= wine_name(@wine) %></h1>
<h2>Reviews:</h2>
<ul>
  <% @wine.ratings.each do |review| %>
  <li> <%= review.user.name %>: <%= show_stars(review.stars) %> -
    <%= link_to "Read review", wine_rating_path(@wine, review) %> </li>
  <% end %>
</ul>
<%= link_to "Add a review", edit_wine_path %>
