<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Wines</title>
    <meta name="description" content="Use Favorite Wines to rate and review wines you've tasted.
    Never forget a good wine again. Who, What, When, Where, Wine!">
    <%= csrf_meta_tags %>


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="<%= current_user_path %>">Home</a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><%= link_to "Wines", wines_path %></li>
              <div class="nav navbar-brand">
              <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav navbar-nav"}) do %>
                  <input type=submit value='Log Out'>
                  <% end %>
                  </div>
              <li></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
          </ul>
        <p class="navbar-brand tagline" style="color: #FAFAD2;"><i>Who, What, When, Where, Wine!</i></p>
        </div>
        </div><!--/.nav-collapse -->
      </div>

    <!-- content -->
    <div class="container"  role="main">
      <p id="notice"><%= notice %></p>
        <% if flash[:message] %>
          <div class="notice">
            <p><%= flash[:message] %></p>
          </div>
          <% end %>
      <%= yield %>
    </div>
  </body>
</html>
