<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Wines</title>
    <meta name="description" content="Use Favorite Wines to rate and review wines you've tasted.
    Never forget a good wine again. Who, What, When, Where, Wine!">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "/app/assets/stylesheets/app.css" %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
      body {
        background-color: #E4E4E4;
      }

        .yielded {
        background-color: white;
        margin: auto;
        text-align: center;
        width: 65%;
        border: 3px solid black;
        padding: 10%;
        }

        .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
        }
        table {
            margin: auto;
            text-align: left;
        }

      .group:after {
        content: "";
        display: table;
        clear: both;
      }

      .home-pic {
        width: 100%;
        object-fit: scale-down;
      }
      .nav {
        
      }

      .navbar-brand.tagline {
        color: #FAFAD2;
      }

      .list {
        text-align: center;
        position-self: center;
        padding: 10%;
      }






      </style>

  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="<%= current_user_path %>">Home</a>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><%= link_to "Wines", wines_path %></li>
              <div class="nav navbar-brand">
              <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav navbar-nav"}) do %>
                  <input type=submit value='Log Out'>
                  <% end %>
                  </div>
              <li></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
          </ul>
        <p class="navbar-brand tagline"><i>Who, What, When, Where, Wine!</i></p>
        </div>
        </div><!--/.nav-collapse -->
      </div>

    <!-- content -->
    <div class="container"  role="main">
      <p id="notice"><%= notice %></p>
        <% if flash[:message] %>
          <div class="notice">
            <p><%= flash[:message] %></p>
          </div>
          <% end %>
      <div class="yielded clearfix">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
