<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Wines</title>
    <meta name="description" content="Use Favorite Wines to rate and review wines you've tasted.
    Never forget a good wine again. Who, What, When, Where, Wine!">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "/app/assets/stylesheets/app.css" %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
      body {
        background-color: #E4E4E4;
      }

      .field_with_errors {
        border: 1px solid red;
      }

        .yielded {
        background-color: white;
        margin: auto;
        text-align: center;
        width: 65%;
        border: 3px solid black;
        padding: 4%;
        }

        .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
        }
        table {
            margin: auto;
            text-align: left;
        }

      .group:after {
        content: "";
        display: table;
        clear: both;
      }

      .home-pic {
        width: 100%;
        object-fit: scale-down;
      }
      .nav {
        
      }

      .detail-list {
        margin: 0 auto;
        text-align: left;
        
      }

      .new-wine-link {
        color: purple;
      }

      .list {
        text-align: center;
        position: center;
        padding: 10%;
      }

      @media only screen and (max-width: 900px) {
        .nav {
          display: inline;
        }
      }




      </style>

  </head>
  <body>
    <div class="nav">
          <ul class="nav">
            <li><a href="<%= current_user_path %>">Home</a></li>
            <% if current_user %>
              <li><%= link_to "Wines", wines_path %></li>
              <div class="nav">
              <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav navbar-brand"}) do %>
                  <input type=submit value='Log Out'>
                  <% end %>
                  </div>
              <li></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            <% end %>
          </ul>
     </div>   

    <!-- content -->
    <div class="container"  role="main">
      <div class="yielded clearfix">
      <p id="notice"><%= notice %></p>
        <% if flash[:message] %>
          <div class="notice alert-warning">
            <p><%= flash[:message] %></p>
          </div>
          <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
