<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Wines</title>
    <meta name="description" content="Use Favorite Wines to rate and review wines you've tasted.
    Never forget a good wine again. Who, What, When, Where, Wine!">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "/app/assets/stylesheets/app.css" %>


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   

    <style>
      body {
        background-color: #E4E4E4;
      }

      .field_with_errors {
        border: 1px solid red;
      }

        .yielded {
        background-color: white;
        margin: auto;
        text-align: center;
        width: 65%;
        padding: 4%;
        }

        .list-group {
          width: 60%;
          text-align: left;
          margin: auto;
          border: 0;
        }



      
      @media only screen and (max-width: 900px) {
        
        .yielded {
          width: 100%;
          height: auto;
        }
      }
      </style>

  </head>
  <body>
    
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="<%= current_user_path %>">My reviews</a></li>
        <% if current_user %>
          <li class="nav-item"><%= link_to "Wines", wines_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Ratings", ratings_path, class: "nav-link" %></li>
          <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav-item nav-link"}) do %>
            <input type=submit value='Log Out'>
          <% end %>
        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_user_path %></li>
          <li class="nav-item"><%= link_to "Sign In", signin_path %></li>
        <% end %>
    </ul>  

    <!-- content -->
      <div class="yielded">
        <p id="notice"><%= notice %></p>
          <% if flash[:message] %>
            <div class="notice alert-warning">
              <p><%= flash[:message] %></p>
            </div>
          <% end %>
        <%= yield %>
      </div>
  </body>
</html>
