<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Wines</title>
    <meta name="description" content="Use Favorite Wines to rate and review wines you've tasted.
    Never forget a good wine again. Who, What, When, Where, Wine!">
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application" %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   

    <style>
      body {
        background-color: #E4E4E4;
      }

      .field_with_errors {
        border: 1px solid red;
      }

        .yielded {
        background-color: white;
        margin: auto;
        text-align: center;
        width: 65%;
        padding: 4%;
        }

        .list-group {
          width: 60%;
          text-align: left;
          margin: auto;
          border: 0;
        }

  .individual-rating {
    border-bottom: 2px solid grey;
    margin: 3%;
    padding: 2%;
    background: #F5F5F5;
  }

        /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #4682B4;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  display: block;
  }

.modal-footer {
  padding: 2px 16px;
  background-color: #4682B4;
  color: white;
}

      
      @media only screen and (max-width: 900px) {
        
        .yielded {
          width: 100%;
          height: auto;
        }
      }
      </style>

  </head>
  <body>
    
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="<%= current_user_path %>">My reviews</a></li>
        <% if current_user %>
          <li class="nav-item"><%= link_to "Wines", wines_path, class: "nav-link" %></li>

          <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav-item nav-link"}) do %>
            <input type=submit value='Log Out'>
          <% end %>
        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_user_path %></li>
          <li class="nav-item"><%= link_to "Sign In", signin_path %></li>
        <% end %>
    </ul>  

    <!-- content -->
      <div class="yielded">
        <p id="notice"><%= notice %></p>
          <% if flash[:message] %>
            <div class="notice alert-warning">
              <p><%= flash[:message] %></p>
            </div>
          <% end %>
        <%= yield %>
      </div>
  </body>
</html>
